{% extends 'base.html.twig' %}
 
{% block title %}Mot de passe oublié{% endblock %}
 
{% block body %}
<!-- Header -->
<header class="container-fluid" >
    <div class="row">
        <div class='col-12'>
            <h1 class="my-4">Mot de passe oublié</h1>
        </div>
    </div>
</header>
<!-- Content -->
<section id="article" class="container-fluid pb-4">
	<div class="container">
		<div class="row">
			<div class="col-12">
                <p>Pour réinitialiser votre mot de passe, veuillez entrer votre adresse e-mail ci-dessous.</p>
                {{ form(emailForm) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}