{% extends 'base.html.twig' %}

{% block title %}Mon Blog{% endblock %}

{% block body %}
    <h1>Mon Blog</h1>
    <p>Ceci est la page d'accueil</p>

    {# Les deux liens ci-dessous fonctionneront, le 2ème est la meilleure pratique #}
    {# Ce lien fonctionnera mais devra être modifié en cas de modification des routes #}  
    <p><a href="/actualites">Liste des articles</a></p>

    {# Ce lien changera automatiquement en cas de modification des routes #}  
    <p><a href="{{ path('actualites_articles') }}">Liste des articles</a></p>
{% endblock %}
